<h1> welcome. </h1>
<h4><%= flash[:alert] %></h4>
<div> <a href = "/user/signup"> sign up </a>
<table>
	<tr>
	<td>IceBox</td>
	<td>Emergency</td>
	<td>In Progress</td>
	<td>Testing</td>
	<td>Complete!</td>
	</tr>
</table>
