<h1> welcome. </h1>
<h4><%= flash[:alert] %></h4>
<div>
 <a href="/user/signup">sign up</a> <a href="/user/login">log in</a>

<table class = "table">
<tr>
	<td>Ice</td>
	<td>Emergency</td>
	<td>In Progress</td>
	<td>Testing</td>
	<td>Complete!</td>
</tr>

<tr>
	<% @posts.reverse.each do |post| %> 
	<td><%= post.content %> <%end%></td> 
	
</tr>

</table>

<a href = "/scrum/addToDo.html">ToDoMore</a>



